* {
    font-family: Tahoma;
}

a {
    color: #0074A2;
}

a:hover {
    color: #003300;
}

.bar {
    border: solid;
    border-color: red;
}

.bar b {
    color: #FF3399;
}

.bold {
    font-weight: bold;
}

.ital {
    font-style: italic;
}

.under {
    text-decoration: underline;
}
