form {
    display: inline-block;


}


img {
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
}

h2 {
    margin-bottom: 50px;
    color: #c56c40;
}

.data-class {
    color: #dd71a3;

}
.data-class-li {
    color: red;
    font-size: 24px;
}

