
<!DOCTYPE html>
<html>

<!--head-->

<? require_once "template/head.html" ?>

<!---->

<body>
<!--header-->

<? require_once "template/header.html" ?>

<!---->

<div class="product-grids">

    <div class="container">
        <h2><?= $variables['category'][0]['cat_title_ukr']?></h2>

        <ul class="product-top">

            <?foreach ($variables['tovar'] as $key):?>
            <div class="col-md-4 grid-product-in">
                <div class=" product-grid">
                    <a href="single?tov_num=<?=$key['id']?>"><img class="img-responsive " src="<?= helper::toUrl('img/') . '/' . $key['cat_title'] . '/' . $key['sub_title']
                        . '/' . $key['t_title'] . '/' . '1.jpg' ?>" alt=""></a>
                    <div class="shoe-in">
                        <h4><b><?=$key['t_title']?> </b></h4><br>
                        <h6><i><?=$key['schort_description']?> </i></h6>

                        <label>$ <?=$key['old_price']?></label>

                    </div>


                </div>
            </div>
            <?endforeach;?>

            <div class="clearfix"></div>
            <nav aria-label="Page navigation example" class="navig">
                <ul class="pagination">
                    <?php foreach ($variables['pagin']->buttons as $button) :
                        if ($button->isActive) : ?>
                            <li class="page-item"> <a class="page-link" href = 'product?category=<?=$variables['tovar'][0]['cat_title']?>&page=<?=$button->page?>'><?=$button->text?></a>
                            </li>
                        <?php else : ?>
                            <li class="page-item"> <span class="page-link" style="color:red"><?=$button->text?></span></li>
                        <?php endif;
                    endforeach; ?>
                </ul>
            </nav>
        </div>
    </div>
</div>
<!---->
<!--footer-->

<?require_once "template/footer.html"?>

</div>
</body>
</html>