body {
    background-color: #f1f1f9;

}

h1 {
    font-weight: bold;
    color: #80c1ff;
    text-align: center;
    letter-spacing: 40px;
    text-shadow: 10px 10px 15px #99ccff;
    text-transform: uppercase;
}

.lef {
    float: left;
}

.rig {
    float: right;
    overflow: auto;
    height: 500px;
}

p {
    font-size: 24px;
    color: #0069cc;
    font-style: oblique;
}
ul {
    list-style-type: circle;
    margin-left: 500px;
    font-size: 20px;
    font-weight: 800;
    }

li {
    /* width: 50px; */
    height: 50px;
}
/* i.fa-delete {
    background: url(../../files/icons/file.ico) no-repeat;
    width: 50px;
    height: 50px;
} */
a {
margin: 0 20px;
}

li.fa-file {
    padding-left: 60px;
background-position: left;
background: url(../../files/icons/file.ico) no-repeat;
}
li.fa-fold {
    padding-left: 60px;
background-position: left;
background: url(../../files/icons/fold.ico) no-repeat;
}
table {
    /* border: 2px solid red; */
    background-color: white;
}

th {
    padding-bottom: 10px;
    color: #004f99;
    background-color: #f1f1f9;
}

footer {
    bottom: 0;
    text-align: center;
    position: fixed;
    width: 100%;
    font-size: 24px;
    font-weight: 800;
}

.name {
    width: 200px;
    padding-left: 6px;
    margin-left: 10px;
    margin-top: 10px;
}

.messag {
    width: 200px;
    height: 160px;
    margin-left: 10px;
    margin-top: 10px;
}

#send {
    width: 150px;
    height: 50px;
    background-image: url(../image/send.bmp);
    float: left;
}

#edit {
    width: 150px;
    height: 50px;
    background-image: url(../image/edit.bmp);
    float: right;
}

#chenge_edit {
    width: 150px;
    height: 50px;
    background-image: url(../image/change.bmp);
}

#delete {
    width: 150px;
    height: 50px;
    background-image: url(../image/delete.bmp);
    float: left;
    margin-top: 10px;
}

#change {
    width: 150px;
    height: 50px;
    background-image: url(../image/change.bmp);
    float: right;
    margin-top: 10px;
}

p.label {
    font-style: normal;
    font-size: 18px;
    color: black;
    display: block;
    width: 101px;
    float: left;
    margin-top: 82px;
}
input.edit{
    width: 200px;
        margin-left: 60px;
}
