<div class="header">
    <div class="logo">
        <a href="main"><img src="<?= helper::toUrl('images/logo1.png') ?>" alt=""></a>
    </div>
    <div class="header-top">
        <div class="header-bottom">
            <div class="h_menu4"><!-- start h_menu4 -->
                <a class="toggleMenu" href="#">Menu</a>
                <ul class="nav">

                    <? foreach ($variables['cat'] as $key): ?>

                        <li><a href="../site/product?category=<?= $key['title_en'] ?>"><?= $key['title_ukr'] ?></a></li>
                    <? endforeach; ?>
                    <li><a href="#">Більше <i> </i></a>
                        <ul>
                            <li><a href="<?= config::get('baseUrl') ?>/users/account">Мій кабінет</a></li>
                            <li><a href="<?= config::get('baseUrl') ?>/users/newusers">Зареєструватись</a></li>
                        </ul>
                    </li>
                </ul>
                <script type="text/javascript" src="<?= helper::toUrl('js/nav.js') ?>"></script>
            </div><!-- end h_menu4 -->

            <div class="search-box">
                <div id="sb-search" class="sb-search" id="form_search">


                        <input type="text" id="site_search" name="q"
                               placeholder="Search the site..."
                               aria-label="Search through site content" autocomplete="off">
                        <label for="search">Пошук</label>

                        <select name="form_search" id="search" multiple
                                onchange="window.location.href=this.options[this.selectedIndex].value ">

                        </select>
<button class="search-delete">Очистити</button>


                </div>

            </div>

            <div class="clearfix"></div>
        </div>
        <div class="header-grid">
            <? if (Session::get('name')): ?>
                <ul class="header-in">
                    <li><a href="account"> Hello, <?= Session::get('name') ?> </a></li>


                </ul>
            <div class="exit">
                <form action="UserExit">
                    <button type="submit" class="btn btn-danger">EXIT</button>
                </form>
            </div>
            <? else: ?>
                <ul class="header-in">
                    <li><a href="account">My Account </a></li>
                    <li class="Login">
                        <form action="UserExit">
                            <button type="submit" class="btn btn-info">log in</button>
                        </form>
                    </li>
                    <li class="register">
                        <form action="UserExit">
                            <button type="submit" class="btn btn-info">Registration</button>
                        </form>
                    </li>
                </ul>
            <? endif; ?>


            <!-- search-scripts -->
            <script src="<?= helper::toUrl('js/classie.js') ?>"></script>
            <script src="<?= helper::toUrl('js/uisearch.js') ?>"></script>
            <script src="<?= helper::toUrl('js/search.js') ?>"></script>
            <script>
                new UISearch(document.getElementById('sb-search'));
            </script>
            <!-- //search-scripts -->

            <div class="clearfix"></div>
        </div>

    </div>

    <div class="clearfix"></div>


</div>
<div class="line">

</div>