<head>
    <meta charset="utf-8">
    <title>AdminPanel</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <link media="all" rel="stylesheet" type="text/css" href="<?= config::get('baseUrl') ?>/view/admin/css/all.css"/>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript">window.jQuery || document.write('<script type="text/javascript" src="../../view/admin/js/jquery-1.7.2.min.js"><\/script>');</script>
    <script type="text/javascript" src="../../view/admin/js/jquery.main.js"></script>
    <link rel="stylesheet" href="<?= config::get('baseUrl') ?>/view/admin/admin_login/css/style.css">
    <script src="/view/admin/admin_login/js/index.js"></script>
    <!--[if lt IE 9]>
    <link rel="stylesheet" type="text/css" href="./css/ie.css"/><![endif]-->
</head>